:root {
  --color-brand-dark: #465929;
  --color-brand-light: #819857;
  --color-primary-dark: #31261a;
  --color-primary-light: #f4f4ea;
}
/* base */
body {
  background-color: grey;
}

ul {
  list-style-type: none;
}
/* button */
button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
/* Link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: #819857;
}
/* a */
a {
  color: var(--color-primary-light);
}

a:hover {
  color: var(--color-brand-light);
}
/* hero */
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}
/* advantages */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}
/* sections */
.section-title {
  color: var(--color-primary-dark);
}
/* font chef */
.shefs-fontcolor {
  color: var(--color-primary-dark);
}
